/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --green-dark: #036b52;
  --green-light: #d1e7dd;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #dc3545;
  /* 60 30 10 */
  --primary: var(--white);
  --secondary: #1a1b1c;
  --accent: #2fc18c;
  --grey-50: #f8fafc;
  --grey-200: #e2e8f0;
  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -2px rgba(0, 0, 0, 0.08);

  /* config */
  --borderRadius: 0.25rem;
  --max-width: 1120px;
  --transition: 0.3s ease-in-out all;
  /* font */
  --letterSpacing: 1px;
  --headingFont: 'Roboto', sans-serif;
  --bodyFont: 'Nunito', sans-serif;
}

::selection {
  background-color: var(--green-light);
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');

html {
  font-size: 100%;
} /*16px*/

body {
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

/* image */
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */
button {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--white);
  background: var(--accent);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  /* transition: var(--transition); */
  text-transform: capitalize;
  display: inline-block;
  margin-right: 1rem;
}

button:hover {
  filter: brightness(110%);
  box-shadow: var(--shadow-2);
}

button:active {
  box-shadow: var(--shadow-3);
}

button:disabled {
  opacity: 0.5;
  cursor: wait;
}

/* form */
form {
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
}

input,
textarea,
select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.7rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--grey-50);
  border: 1px solid var(--grey-200);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.success {
  color: var(--green-dark);
  background: var(--green-light);
}
